<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="renderer" content="webkit">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<title>我的收入</title>
		<script src="./js/vue.js"></script>
		<script type="text/javascript" src="js/jquery.min.js"></script>
		<script type="text/javascript" src="js/base.js"></script>
		<link type="text/css" rel="stylesheet" href="css/public.css">
		<link type="text/css" rel="stylesheet" href="css/orderNav.css">
		<link rel="stylesheet" type="text/css" href="css/user.css">
	</head>

<body>
	<div id="app">
		<!-- 标题 -->
		<div class="T-head line50 center fs16 Tfix-head">
			<a class="back-next pa" href="javascript:history.go(-1);"><img class="icon" src="images/backIcon.png" ></a>我的收入
		</div>
		<div class="h50"></div>
		<div class="myExtendTop white center" style="padding-bottom: 30px;">
			<div class="bigNum pd10">566.9</div>
			<div class="yuan pdb20 fs13">收益(元)</div>
			<a class="txBtn" href="myCashOut.html">提现</a>
		</div>
		
		<div class="orderNav bordB1">
			<div class="tt" :class="current==1?'on':''" @click="change('1')">外卖收入</div>
			<div class="tt" :class="current==2?'on':''" @click="change('2')">配送收入</div>
		</div>
		
		<div class="orderBetween" v-show="current==1">
			<div class="item" v-for="(item,index) in orderOkData" :key="index">
				<a class="flexRowBetween" href="orderDetailTwo_waimai.html">
					<div class="left color6">
						<p class="fs13">2019-10-26</p>
						<p class="fs12">订单编号：12345668885656</p>
					</div>
					<div class="right flexEnd">
						<p class="red">+￥5.2</p>
					</div>
				</a>
			</div>
		</div>
		<div class="orderBetween" v-show="current==2">
			<div class="item" v-for="(item,index) in orderOkData" :key="index">
				<a class="flexRowBetween" href="orderDetailTwo_sameDay.html">
					<div class="left color6">
						<p class="fs13">2019-10-25</p>
						<p class="fs12">订单编号：15234562666556</p>
					</div>
					<div class="right flexEnd">
						<p class="red">+￥8.0</p>
					</div>
				</a>
			</div>
		</div>
		
	</div>
</body>

	
<script type="text/javascript">
	var app = new Vue({
		    el: '#app',
		    data:function(){
		        return {
					is_show:false,
					mainData: [],
					orderOkData:[{},{},{},{}],
					current:1
		        }
		    },
		    onLoad() {
		    	const self = this;
		    	// self.$Utils.loadAll(['getMainData'], self);
		    },
		    methods: {
				change(current) {
					const self = this;
					if(current!=self.current){
						self.current = current
					}
				},
				getMainData() {
					const self = this;
					const postData = {};
					postData.tokenFuncName = 'getProjectToken';
					var callback = function(res){
					    console.log('getMainData', res);
					    self.mainData.push.apply(self.mainData,res.info.data);		        
					};
					self.$apis.orderGet(postData, callback);
				}
		    }
		});
	</script>


</html>